        <div class="ohc-grid">
            <div role="banner">
                <div>
                    <a href="#" class="offscreen skipto-top skipto">Go to main content</a>
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/">
                                    <img alt="Oracle Help Center" src="https://docs.oracle.com/sp_common/{{pubType}}-template/ohc-common/img/ohc-logo.png" onerror="this.onerror='';this.src='sp_common/{{pubType}}-template/ohc-common/img/ohc-logo.png';">
                                </a>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                                <p class="navbar-text navbar-right logged-in-content hidden"><span class="append-firstname-greeting"></span> <a class="logout-link" href="#">Sign Out</a></p>
                                <p class="navbar-text navbar-right logged-out-content hidden"><a class="login-link" href="#"><i class="fa fa-user"></i> Sign In</a></p>

                                <form class="navbar-form ohc-search-form visible-xs-block" action="https://docs.oracle.com/apps/search/search.jsp" method="get">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" aria-label="Search Query Field" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    <span class="sr-only">Search</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    {{#if publication.search_category}}
                                    <input type="hidden" name="category" value="{{publication.search_category}}">
                                    {{/if}}
                                    {{#if publication.search_product}}
                                    <input type="hidden" name="product" value="{{publication.search_product}}">
                                    {{/if}}
                                </form>

                                <ul class="nav navbar-nav visible-xs-block">
                                {{#each publication.navGroups}}
                                    {{#each this}}
                                        <li>{{#if href}}<a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}">{{title}}</a>{{else}}<span class="inactive">{{title}}</span>{{/if}}</li>
                                        {{#each navlinks}}<li><a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}">{{title}}</a></li>{{/each}}
                                    {{/each}}
                                {{/each}}
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <main>
                <div>
                    <div class="ohc-grid">
                        <div>
                            <div class="ohc-sidebar hidden-xs">
                                <form class="ohc-search-form" action="https://docs.oracle.com/apps/search/search.jsp" method="get">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" aria-label="Search Query Field" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    <span class="sr-only">Search</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    {{#if publication.search_category}}
                                    <input type="hidden" name="category" value="{{publication.search_category}}">
                                    {{/if}}
                                    {{#if publication.search_product}}
                                    <input type="hidden" name="product" value="{{publication.search_product}}">
                                    {{/if}}
                                </form>

                                <ul class="up">
                                    <li><a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span>Help Center Home</a></li>
                                </ul>


                                {{#each publication.navGroups}}
                                    {{#unless @first}}<hr>{{/unless}}
                                    <ul class="links">
                                    {{#each this}}
                                        <li>{{> topicPartial}}
                                        </li>
                                    {{/each}}
                                    </ul>
                                {{/each}}

                            </div>

                            <article class="container-fluid learning-path" role="main">
                                {{#if_path page.title}}

                                    <div class="learning-path-header">
                                         <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                                            {{#each publication.breadcrumbs}}
                                            <li property="itemListElement" typeof="ListItem">{{#if href}}<a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}" property="item" typeof="WebPage"><span property="name">{{title}}</span></a>{{else}}<span property="name">{{title}}</span>{{/if}}<meta property="position" content="{{@index}}"></li>
                                            {{/each}}
                                        </ol>
                                        <h1>{{{publication.title}}}</h1>
                                        <div class="h2">{{{page.title}}}</div>
                                    </div>

                                {{else}}

                                    {{#if publication.logo}}
                                    <img class="pull-right hidden-xs hidden-sm" src="{{imageprefix}}{{publication.logo}}" alt="">
                                    {{/if}}
                                    <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                                        {{#each publication.breadcrumbs}}
                                        <li property="itemListElement" typeof="ListItem">{{#if href}}<a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}" property="item" typeof="WebPage"><span property="name">{{title}}</span></a>{{else}}<span property="name">{{title}}</span>{{/if}}<meta property="position" content="{{@index}}"></li>
                                        {{/each}}
                                    </ol>
                                    <h1>{{{publication.title}}}</h1>
                                    {{#if page.video_data}}<div class="h2">{{{page.title}}}</div>{{else if page.book_data}}<div class="h2">{{{page.title}}}</div>{{/if}}
                                    {{#if page.description}}<div class="description">{{{page.description}}}</div>{{else if publication.description}}<div class="description">{{{publication.description}}}</div>{{/if}}

                                {{/if_path}}


{{#if page.video_data}}
<div id="videoCategories">
    <noscript class="row">
        <div class="clearfix"></div>
        {{#each page.video_data.items}}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="video-thumbnail">
            <a class="embed-responsive embed-responsive-16by9" href="{{link}}" target="_blank" title="{{title}}" {{#if embed}}data-embed="{{embed}}"{{/if}}>
              <img class="embed-responsive-item" src="{{thumbnail_link}}" alt="{{title}} video thumbnail">
              <div class="overlay embed-responsive-item"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></div>
            </a>
            <div class="caption">
              {{#if featured}}<span class="pull-left label label-default">Featured</span>{{/if}}
              {{#if recent}}<span class="pull-left label label-default">New</span>{{/if}}
              {{#if date}}<span class="pull-right">{{date}}</span>{{/if}}
              <div class="h3">{{title}}</div>
              {{#if description}}<div>{{{description}}}</div>{{/if}}
            </div>
          </div>
        </div>
        {{/each}}
    </noscript>
</div>
{{/if}}

                                {{#if page.book_data}}
                                <div id="bookCategories">
                                    <noscript class="row">
                                        <div class="clearfix"></div>
                                        {{#each page.book_data}}
                                        <div class="book" aria-labelledby="ns-book-{{@index}}" {{#if description}}aria-describedby="ns-book-{{@index}}-description"{{/if}}>
                                            <div class="h4" id="ns-book-{{@index}}" tabindex="-1">{{title}}</div>
                                            {{#if html}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-html" href="{{html}}"><span id="ns-book-{{@index}}-html">HTML</span></a>{{/if}}
                                            {{#if pdf}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-pdf" href="{{pdf}}"><span id="ns-book-{{@index}}-pdf">PDF</span></a>{{/if}}
                                            {{#if epub}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-epub" href="{{epub}}"><span id="ns-book-{{@index}}-epub">ePub</span></a>{{/if}}
                                            {{#if mobi}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-mobi" href="{{mobi}}"><span id="ns-book-{{@index}}-mobi">Mobi</span></a>{{/if}}
                                            <div class="clearfix"></div>
                                            {{#if description}}
                                                <div id="ns-book-{{@index}}-description">
                                                     <div class="well well-sm">{{{description}}}</div>
                                                </div>
                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    </noscript>
                                </div>
                                {{/if}}

                                {{#each page.sections}}
                                    {{> sectionPartial}}
                                {{/each}}

                                {{#if page.tab_sections}}

                                <form style="margin-top:12px;" autocomplete="off">
                                    <select style="width:auto" class="form-control section-selector">
                                      {{#each page.tab_sections}}
                                      <option data-target="#tab-{{@index}}" aria-controls="tab-{{@index}}">{{title}}</option>
                                      {{/each}}
                                    </select>
                                </form>

                                <div class="tab-content">
                                    {{#each page.tab_sections}}
                                    <div class="tab-pane fade{{#if @first}} in active{{/if}}" id="tab-{{@index}}">
                                        {{#each sections}}
                                            {{> sectionPartial }}
                                        {{/each}}
                                    </div>
                                    {{/each}}
                                </div>

                                {{/if}}

                            </article>

                            <div><div><!-- resizable column --></div></div>
                        </div>
                    </div>
                </div>
            </main>
            <a href="#" class="offscreen skipto-bottom skipto">Back to main content</a>

            <footer>
                <div>
                    <div class="container">
                        <div class="pull-left footer-left">
                            <ul class="footer-nav list-inline">
                                <li><a href="https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=about">About Oracle</a></li>
                                <li><a href="https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=contact">Contact Us</a></li>
                                <li><a href="https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=privacy">Terms of Use and Privacy</a></li>
                                <li><div id="teconsent" style="display: inline-block;"></div></li>
                            </ul>
                            <span class="copyright"><a href="https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr">Copyright &copy; {{copyright}}, Oracle and/or its affiliates.</a><a></a></span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
