        <title>{{stripTags publication.title}}{{#if page.title}} - {{stripTags page.title}}{{/if}}</title>
        {{#if page.meta_description}}
        <meta name="description" content="{{page.meta_description}}">
        <meta property="og:description" content="{{page.meta_description}}">
        {{else}}
        <meta name="description" content="{{publication.meta_description}}">
        <meta property="og:description" content="{{publication.meta_description}}">
        {{/if}}
        <meta property="og:site_name" content="Oracle Help Center">
        <meta name="generator" content="Oracle Interface Page Generator 1.7.07.20">
        <meta property="og:title" content="{{stripTags publication.title}}{{#if page.title}} - {{stripTags page.title}}{{/if}}">
        
        
        <link rel="schema.dcterms" href="http://purl.org/dc/terms/" >
        <meta name="dcterms.created" content="{{timestamp}}" >
        <meta name="dcterms.title" content="{{stripTags publication.title}}{{#if page.title}} - {{stripTags page.title}}{{/if}}" >
        <meta name="dcterms.dateCopyrighted" content="{{publication.copyright}}" >
        {{#if publication.search_category}}<meta name="dcterms.category" content="{{publication.search_category}}" >{{/if}}
        {{#if publication.search_product}}<meta name="dcterms.product" content="{{publication.search_product}}" >{{/if}}
        
        {{#if page.video_data}}
        <script type="application/json" id="video-data">
        {{{json page.video_data}}}
        </script>
        {{/if}}

        {{#if page.book_data}}
        <script type="application/json" id="book-data">
        {{{json page.book_data}}}
        </script>
        {{/if}}