{{#if href}}
  <a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}">{{{title}}} {{format}}</a>
{{else}}
  <span>{{{title}}}</span>
{{/if}}
{{#if links}}
  <div class="format-links"><span>Related</span> <ul class="list-inline">{{#each links}}<li><a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}">{{{title}}}</a></li>{{/each}}</ul></div>
{{/if}}
{{#if navlinks}}
<ul>
    {{#each navlinks}}<li>{{> topicPartial}}</li>{{/each}}
</ul>
{{/if}}