<div class="page-container">
    <div role="banner">
        <div>
            <a href="#" class="offscreen skipto-top skipto">Skip to main content</a>
            <nav class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">                      
                        <a class="navbar-left" href="/">
                            <img class="big-logo" width="185" height="105" alt="Oracle Help Center" src="/sp_common/{{pubType}}-template/ohc-common/img/ohc-redbadge-logo.png" onerror="this.onerror='';this.src='sp_common/{{pubType}}-template/ohc-common/img/ohc-redbadge-logo.png';">
                            <img class="med-logo" width="282" height="25" alt="Oracle Help Center" src="/sp_common/{{pubType}}-template/ohc-common/img/ohc-redbadge-logo-wide.png" onerror="this.onerror='';this.src='sp_common/{{pubType}}-template/ohc-common/img/ohc-redbadge-logo-wide.png';">
                            <img class="small-logo" width="143" height="25" alt="Oracle Help Center" src="/sp_common/{{pubType}}-template/ohc-common/img/oracle-redbadge-logo.png" onerror="this.onerror='';this.src='sp_common/{{pubType}}-template/ohc-common/img/oracle-redbadge-logo.png';">
                        </a>
                        <button type="button" class="pull-right collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-database fa-fw"></i>
                        </button>
                    </div>
                    
                    <p class="hidden-xs navbar-text pull-right logged-in-content hidden"><span class="append-firstname-greeting"></span> <a class="logout-link" href="#">Sign Out</a></p>
                    <p class="hidden-xs navbar-text pull-right logged-out-content"><a class="login-link" href="#"><i class="fa fa-user"></i> Sign In</a></p>
                    
                    <form id="banner-search" class="form-inline hidden-xs pull-right search-form" class="ohc-search-form" action="https://docs.oracle.com/apps/search/search.jsp" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" aria-label="Search Query Field" placeholder="Search for...">
                                <span class="input-group-btn">
                                    {{#if publication.search_category}}
                                    <button id="dropdownMenu1" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-chevron-down" aria-hidden="true"></span><span class="sr-only">Options</span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        {{#if publication.search_product}}
                                        <li><a href="#"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Search this product</a></li>
                                        {{#if publication.search_category}}<li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Search {{publication.search_category}} category</a></li>{{/if}}
                                        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Search All Documentation</a></li>
                                        {{else if publication.search_category}}
                                        <li><a href="#"><i class="fa check-circle-o" aria-hidden="true"></i> Search {{publication.search_category}} category</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Search All Documentation</a></li>
                                        {{/if}}
                                    </ul>
                                    {{/if}}
                                    
                                    <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                        <span class="sr-only">Search</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        {{#if publication.search_category}}
                        <input type="hidden" name="category" value="{{publication.search_category}}">
                        {{/if}}
                        {{#if publication.search_product}}
                        <input type="hidden" name="product" value="{{publication.search_product}}">
                        {{/if}}
                    </form>
                    
                    
                    <div class="collapse" id="navbar-collapse-1">
                    
                        <div class="btn-group btn-group-justified" role="tablist" data-toggle="buttons">
                            <label class="btn btn-lg active">
                                <input name="mobile-tab" type="radio" autocomplete="off" data-target="#sitemap-tab" aria-controls="sitemap-tab" role="tab" data-toggle="tab" checked="checked"><i class="fa fa-sitemap" aria-hidden="true"></i>
                            </label>
                            <label class="btn btn-lg">
                                <input name="mobile-tab" type="radio" autocomplete="off" data-target="#search-tab" aria-controls="search-tab" role="tab" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <!--
                            <label class="btn btn-lg">
                                <input name="mobile-tab" type="radio" autocomplete="off" data-target="#comment-tab" aria-controls="comment-tab" role="tab" data-toggle="tab"><i class="fa fa-comment" aria-hidden="true"></i>
                            </label>
                            -->
                            <label class="btn btn-lg">
                                <input name="mobile-tab" type="radio" autocomplete="off" data-target="#user-tab" aria-controls="user-tab" role="tab" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i>
                            </label>
                        </div>

                        <!-- Tab panes -->
                        <div id="mobile-tabs" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="sitemap-tab">
                            {{#if tabtoc}}
                            <div id="tab-toc">
                                {{{tabtoc}}}
                            </div>
                            {{/if}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="search-tab">
                                <h2>Search</h2>
                                <form id="search-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="q" type="text" class="form-control" aria-label="Search Query Field" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                                    <span class="fa fa-search" aria-hidden="true"></span>
                                                    <span class="sr-only">Search</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    {{#if publication.search_product}}
                                    <div class="radio">
                                        <input type="radio" checked="checked" id="search-options-product" value="product">	
                                        <label for="search-options-product">Search this product</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="search-options-category" value="category">
                                        <label for="search-options-category">Search {{publication.search_category}} category</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="search-options-all" value="all">
                                        <label for="search-options-all">Search All Documentation</label>
                                    </div>
                                    {{else if publication.search_category}}
                                    <div class="radio">
                                        <input type="radio" checked="checked" id="search-options-category" value="category">
                                        <label for="search-options-category">Search {{publication.search_category}} category</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="search-options-all" value="all">
                                        <label for="search-options-all">Search All Documentation</label>
                                    </div>
                                    {{/if}}
                                    
                                    {{#if publication.search_category}}
                                    <input type="hidden" name="category" value="{{publication.search_category}}">
                                    {{/if}}
                                    {{#if publication.search_product}}
                                    <input type="hidden" name="product" value="{{publication.search_product}}">
                                    {{/if}}
                                </form>                                
                                
                            </div>
                            <!--
                            <div role="tabpanel" class="tab-pane" id="comment-tab"></div>
                            -->
                            <div role="tabpanel" class="tab-pane" id="user-tab">
                                <h2>My Account</h2>
                                <p class="navbar-text navbar-right logged-in-content hidden"><span class="append-firstname-greeting"></span> <a class="logout-link" href="#">Sign Out</a></p>
                                <p class="navbar-text navbar-right logged-out-content"><a class="login-link" href="#"><i class="fa fa-user"></i> Sign In</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="breadcrumb-container">
        <div class="container breadcrumb-list">
        <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
            {{#each publication.breadcrumbs}}
            <li property="itemListElement" typeof="ListItem">{{#if href}}<a {{#if always_new}}class="newwindow"{{/if}}{{#if never_new}}class="notnew"{{/if}} href="{{href}}" property="item" typeof="WebPage"><span property="name">{{title}}</span></a>{{else}}<span property="name">{{title}}</span>{{/if}}<meta property="position" content="{{@index}}"></li>
            {{/each}}
        </ol>
        </div>
    </div>
    
    <main class="container">
    <div id="content-row" class="row">
    
        <div class="left-column hidden-print">
            {{#each publication.navGroups}}
                {{#unless @first}}<hr>{{/unless}}
                <ul class="cleanList">
                {{#each this}}
                    <li>{{> topicPartial}}
                    {{#if navlinks}}
                    <ul>
                        {{#each navlinks}}<li>{{> topicPartial}}</li>{{/each}}
                    </ul>
                    {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{/each}}
        </div>
                    
        <div class="right-column hidden-print"></div>
    
        <div class="middle-column">
            <article role="main">
            
               {{#if publication.logo}}
                <img class="pub-logo pull-right hidden-xs hidden-sm" src="{{imageprefix}}{{publication.logo}}" alt="">
                {{/if}}
                
                <h1>{{publication.title}}</h1>
                {{#if publication.description}}<div class="description">{{{publication.description}}}</div>{{/if}}
                
                {{#each page.sections}}
                    {{> sectionPartial}}
                {{/each}}
                
                {{#if page.tab_sections}}
                
                <form style="margin-top:12px;" autocomplete="off">
                    <select style="width:auto" class="form-control section-selector">
                      {{#each page.tab_sections}}
                      <option data-target="#tab-{{@index}}" aria-controls="tab-{{@index}}">{{title}}</option>
                      {{/each}}
                    </select>
                </form>

                <div class="tab-content">
                    {{#each page.tab_sections}}
                    <div class="tab-pane fade{{#if @first}} in active{{/if}}" id="tab-{{@index}}">
                        {{#each sections}}
                            {{> sectionPartial }}
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                
                {{/if}}

                {{#if page.video_data}}
                <div id="videoCategories">
                    <noscript class="row">
                        <h2>Videos</h2>
                        <div class="clearfix"></div>
                        {{#each page.video_data.items}}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="video-thumbnail">
                            <a class="embed-responsive embed-responsive-16by9" href="{{link}}" target="_blank" title="{{title}}" {{#if embed}}data-embed="{{embed}}"{{/if}}>
                              <img class="embed-responsive-item" src="{{thumbnail_link}}" alt="{{title}} video thumbnail">
                              <div class="overlay embed-responsive-item" style="display: position: absolute; width: 100%; height: 100%;"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="margin: auto;right: 0;width: 50px;height: 50px;left: 0;top: 0;bottom: 0;position: absolute;font-size: 50px;"></span></div>
                            </a>
                            <div class="caption" style="overflow:auto; box-sizing:content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; ; height: 375px;">
                              {{#if featured}}<span class="pull-left label label-default" style="margin-right: 4px;">Featured</span>{{/if}}
                              {{#if recent}}<span class="pull-left label label-default">New</span>{{/if}}
                              {{#if date}}<span class="pull-right">{{date}}</span>{{/if}}
                              <div class="h3" style="margin-bottom: 4px; font-size: 15px;">{{title}}</div>
                              {{#if description}}<div style="font-size: 13px; margin-top: 12px">{{{description}}}</div>{{/if}}
                            </div>
                          </div>
                        </div>
                        {{/each}}
                    </noscript>
                </div>
                {{/if}}

                {{#if page.book_data}}
                <div id="bookCategories">
                    <noscript class="row">
                        <h2>Books</h2>
                        <div class="clearfix"></div>
                        {{#each page.book_data}}
                        <div class="book" aria-labelledby="ns-book-{{@index}}" {{#if description}}aria-describedby="ns-book-{{@index}}-description"{{/if}}>
                            <div class="h4" id="ns-book-{{@index}}" tabindex="-1">{{title}}</div>
                            {{#if html}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-html" href="{{html}}"><span id="ns-book-{{@index}}-html">HTML</span></a>{{/if}}
                            {{#if pdf}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-pdf" href="{{pdf}}"><span id="ns-book-{{@index}}-pdf">PDF</span></a>{{/if}}
                            {{#if epub}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-epub" href="{{epub}}"><span id="ns-book-{{@index}}-epub">ePub</span></a>{{/if}}
                            {{#if mobi}}<a aria-labelledby="ns-book-{{@index}} ns-book-{{@index}}-mobi" href="{{mobi}}"><span id="ns-book-{{@index}}-mobi">Mobi</span></a>{{/if}}
                            <div class="clearfix"></div>
                            {{#if description}}
                                <div id="ns-book-{{@index}}-description">
                                     <div class="well well-sm">{{{description}}}</div>
                                </div>
                            {{/if}}
                        </div>
                        {{/each}}
                    </noscript>
                </div>
                {{/if}}
            
            </article>
            <div class="visible-lg-block"></div>
        </div>
    
    </div>
    </main>
    
    <a href="#" class="offscreen skipto-bottom skipto">Back to main content</a>
    
    <footer>
        <div>
            <div class="container">
                <div class="pull-left footer-left">
                    <ul class="footer-nav list-inline">
                        <li class="separator"><a href="http://www.oracle.com/corporate/index.html">About Oracle</a></li>
                        <li><a href="http://www.oracle.com/us/corporate/contact/index.html">Contact Us</a></li>
                        <li><a href="http://www.oracle.com/us/legal/index.html">Legal Notices</a></li>
                        <li><a href="http://www.oracle.com/us/legal/terms/index.html">Terms of Use</a></li>
                        <li class="same-height-right"><a href="http://www.oracle.com/us/legal/privacy/index.html">Your Privacy Rights</a></li>
                    </ul>
                    <span class="copyright"><a href="https://www.oracle.com/pls/topic/lookup?ctx=cpyr&amp;id=en">Copyright &copy; {{publication.copyright}}, Oracle and/or its affiliates. All rights reserved.</a><a></a></span>
                </div>
            </div>
        </div>
    </footer>
    
</div>